{% extends "myfoodapp/base.html" %}
{% block titlepage %}Aliments{% endblock %}
{% load static %}

{% block headsec %}
{% endblock %}

{% block mid2 %}

<div class="row">
    <div class="col-md-12">
        <p class="text-center"><strong>{{ my_product.name_food }}</strong></p>

        <p class="text-center">Vous pouver remplacer cet aliment par:</p>
    </div>
    <div class="col-sm-6 text-center">
        <p class="text-center">Nutri score</p>
        {% for i in score_range %}
        {% if i == my_product.nutri_score_food %}
            <strong>{{ i|capfirst }}</strong>
        {% else %}
            {{ i }}
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-sm-6 text-center">
    {% if my_product.quantity_food == "None" or my_product.quantity_food == "" %}
        <p class="text-center">Pas d'indication de quantité</p>
    {% else %}
        <p class="text-center">Repère nutritionnels <br />
        pour {{ my_product.quantity_food }}</p>
    {% endif %}
    </div>
    
    <div class="col-md-12 text-center">
        <a href="{{ my_product.link_food }}" target="_blank">Lien</a>
    </div>
</div>

{% endblock %}

{% block sect3 %}
{% if user.is_authenticated %}
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

